body {
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
}

nav {
  background: black;
  width:100%;

}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
  text-align: center;
}
nav li {
  display:inline-block;
  margin-left:10px;
}

nav a {

  display:block;
  padding:15px;
  color: white;

}

nav li:hover {
  background: white;
}
nav li:hover a {
  color: black;
}

article, .box {
  padding:20px;
  display: inline-block;
}

section, aside {
  display:inline-block;
  vertical-align: top;

}

section {
  width: 70%;
}
aside {
  width: 28%;
}
img {
  display: inline-block;
  border: 7px solid black;
}
img:hover {
  border: 10px solid red;
}
